body {
    margin-left: 20%;
    margin-top: 5%;
}


.scale {
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    width: 60px;
    height: 300px;
    z-index: 3;
    margin-top: -305px;
}

#rect {
    height: 300px;
}

#volumeButton {
    margin-left: -100px;
    margin-right: 36px;
    z-index: 4
}

h1 {
    font-family: sans-serif;
}