<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <h1>Air DJ Visualizer Beta</h1>
    <button id="volumeButton">Volume</button>
    <svg id="rect"></svg>
    <div class="scale"></div>
</body>
<script>
    var svg = d3.select("#rect").append("svg")

    const rectangle = svg.append('rect')
        .attr('width', 65)
        .attr('height', 30)
        .attr('y', 275)
        .attr('fill', '#1ac42d');

    const b = document.getElementById("volumeButton");
    b.onpointerdown = function() {
        rectangle.transition()
            .duration(1000)
            .attr('y', 0)
    }
    b.onpointerup = function() {
        rectangle.transition()
            .duration(1000)
            .attr('y', 275)
    }
    
    
</script>
</html>